DataSet P01/
Lab02/dataset_dividido_v1/
Lab02/best_vgg19_tl.pt
Lab02/best_cnn_from_scratch.pt
1er Parcial/Actas/imagenes_unificadas/
1er Parcial/Actas/recortes_mesa/
1er Parcial/Actas/recortes_votos_presidencia/